<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_page.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>  
    <title>Online Shopping Home_Page</title>
</head>
<body style="margin: 0;">
    <div class="section1">
        <div class="header">
            <div class="logo container">
                <div class="logo">
                    Awesome <span class="shop"><em>Shop</em></span>
                </div>
            </div>
    
            <div class="pri menu">
                <div class="help">
                    <a></a><i class="fas fa-question-circle"></i>Need Help</a>
                    <button class="join btn">Join</button>
                </div>
            </div>
        </div>
    </div>

    <div class="section2" >
        <div class="s2 container">
            <div class="s2-text-holder">
                <h1 class="s2-main-header">Shop your design dresses</h1>
                <p class="s2-paragraph">Ready to wear dresses tailed for you from online. Hurry up while stock lasts</p>
            </div>
            <!-- <input class="search-bar" type="text" placeholder="&#xf002; Search your products from here..."> -->
            <div class="search-bar">
                <a  class="searchbt" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <input class="search-border" type="text" placeholder="Search your products from here">
            </div>
            <div class="s2-background">
                <img src="/images/Toolbar_Back.png" alt="" width="100%">
            </div>
            
        </div>
    </div>

    <div class="section3">
        <table class="s3-table" >
            <tr class="s3-troll">
                <td class="s3-tdata" id="coupon">  
                    <div>
                        <h2 class="s3-head">Coupon Savings</h2>
                        <p class="s3-para">Up to 60% everyday essentials</p>
                        <button class="s3-btn">Shop Coupon</button>
                    </div>
                    <div>
                        <img class="s3-img" src="/images/icons8-coupon-100.png" alt="">
                    </div>
                </td>
                <td class="s3-tdata" id="coupon">  
                    <div>
                        <h2 class="s3-head">Free Delivery</h2>
                        <p class="s3-para">With selected items</p>
                        <button class="s3-btn">Deliver Now</button>
                    </div>
                    <div>
                        <img class="s3-img" src="/images/checked-truck.png" alt="">
                    </div>
                </td>
                <td class="s3-tdata" id="coupon">  
                    <div>
                        <h2 class="s3-head">Gift Voucher</h2>
                        <p class="s3-para">With personal care items</p>
                        <button class="s3-btn">Gift Now</button>
                    </div>
                    <div>
                        <img class="s3-img" src="/images/gift--v1.png" alt="">
                    </div>
                </td>
            </tr>
        </table>  
    </div>
    <div class="section4">
        <div class="s4">
            <table class="s4-tleft">
                <tr>
                    <td>
                        <div class="s4-proCatagory">
                            <img class="s4-catIcon" src="/images/icon_laptop.png" alt="">
                            <p>Electronics</p>
                        </div>
                        <div class="s4-proCatagory">
                            <img class="s4-catIcon" src="/images/icon_bag-front-view.png" alt="">
                            <p>Hand Bags</p>
                        </div>
                        <div class="s4-proCatagory">
                            <img class="s4-catIcon" src="/images/icon_wallet.png" alt="">
                            <p>Wallet</p>
                        </div>
                        <div class="s4-proCatagory">
                            <img class="s4-catIcon" src="/images/icon_clothes.png" alt="">
                            <p>Clothes</p>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="container">
                <table class="s4-tright">
                    <tr class="s4-proRow">
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                    </tr>
                    <tr class="s4-proRow">
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                        <td class="s4-proCol">
                            <p class="s4-discount">20%</p>
                            <img class="s4-proImg" onclick="document.location='Product_Page.html'" src="/images/clothes (1).png" alt="">
                            <div class="s4-para">
                                <p>Nike Women Pink Half Zip</p>
                                <p>Lightweight Hooded Shirt Top</p>
                                <p>Athletic Stretch Size M</p>
                            </div>
                            <div class="price">
                                <p class="price-1">$15</p>
                                <p class="price-2">$12</p>
                            </div>
                            <button class="btncart" onclick="document.location='Product_Page.html'" style="font-size:24px"><i class="fa fa-shopping-cart"> Cart</i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <center><button class="btnLoad">Loading More</button></center>
    </div>
</body>
</html>